[APP]
DBTYPE = sqlite
COST_PLAN_USER =
COST_PLAN_NAME =
CORP_ASSET_USER =
PIC_RENDER_PROXY =
PROXY = 'http://127.0.0.1:7890'

[FEISHU]
APP_ID = MyApp
SECRET_ID = 1.0
FOLDER_ROOT =

[GOOGLE]
CREDENTIALS =
MARKET_MONITOR_SPREADSHEET_ID =

[POSTGREDB]
Host = localhost
Port = 5432
User = admin
Password = secret

[SQLITEDB]
DATADB =
CONFIG_DB =
CACHE_DB =
SDEDB =

[EVE]
CLIENT_ID =
SECRET_KEY =
MARKET_AC_CHARACTER_ID=
REF_MATER_WEIGHT = 0.3
REF_PROFIT_WEIGHT = 0.7

[ESI]
publicData = true
esi-calendar.respond_calendar_events.v1 = true
esi-calendar.read_calendar_events.v1 = true
esi-location.read_location.v1 = true
esi-location.read_ship_type.v1 = true
esi-mail.organize_mail.v1 = true
esi-mail.read_mail.v1 = true
esi-mail.send_mail.v1 = true
esi-skills.read_skills.v1 = true
esi-skills.read_skillqueue.v1 = true
esi-wallet.read_character_wallet.v1 = true
esi-wallet.read_corporation_wallet.v1 = true
esi-search.search_structures.v1 = true
esi-clones.read_clones.v1 = true
esi-characters.read_contacts.v1 = true
esi-universe.read_structures.v1 = true
esi-killmails.read_killmails.v1 = true
esi-corporations.read_corporation_membership.v1 = true
esi-assets.read_assets.v1 = true
esi-planets.manage_planets.v1 = true
esi-fleets.read_fleet.v1 = true
esi-fleets.write_fleet.v1 = true
esi-ui.open_window.v1 = true
esi-ui.write_waypoint.v1 = true
esi-characters.write_contacts.v1 = true
esi-fittings.read_fittings.v1 = true
esi-fittings.write_fittings.v1 = true
esi-markets.structure_markets.v1 = true
esi-corporations.read_structures.v1 = true
esi-characters.read_loyalty.v1 = true
esi-characters.read_chat_channels.v1 = true
esi-characters.read_medals.v1 = true
esi-characters.read_standings.v1 = true
esi-characters.read_agents_research.v1 = true
esi-industry.read_character_jobs.v1 = true
esi-markets.read_character_orders.v1 = true
esi-characters.read_blueprints.v1 = true
esi-characters.read_corporation_roles.v1 = true
esi-location.read_online.v1 = true
esi-contracts.read_character_contracts.v1 = true
esi-clones.read_implants.v1 = true
esi-characters.read_fatigue.v1 = true
esi-killmails.read_corporation_killmails.v1 = true
esi-corporations.track_members.v1 = true
esi-wallet.read_corporation_wallets.v1 = true
esi-characters.read_notifications.v1 = true
esi-corporations.read_divisions.v1 = true
esi-corporations.read_contacts.v1 = true
esi-assets.read_corporation_assets.v1 = true
esi-corporations.read_titles.v1 = true
esi-corporations.read_blueprints.v1 = true
esi-contracts.read_corporation_contracts.v1 = true
esi-corporations.read_standings.v1 = true
esi-corporations.read_starbases.v1 = true
esi-industry.read_corporation_jobs.v1 = true
esi-markets.read_corporation_orders.v1 = true
esi-corporations.read_container_logs.v1 = true
esi-industry.read_character_mining.v1 = true
esi-industry.read_corporation_mining.v1 = true
esi-planets.read_customs_offices.v1 = true
esi-corporations.read_facilities.v1 = true
esi-corporations.read_medals.v1 = true
esi-characters.read_titles.v1 = true
esi-alliances.read_contacts.v1 = true
esi-characters.read_fw_stats.v1 = true
esi-corporations.read_fw_stats.v1 = true
esi-characterstats.read.v1 = true